<?xml version="1.0"?>
<configuration>  
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="zVirtualScenesApplication.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SQLite" />
      <add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".Net Framework Data Provider for SQLite"
           type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite" />
    </DbProviderFactories>
  </system.data>
 
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <userSettings>
    <zVirtualScenesApplication.Properties.Settings>
      <setting name="WindowGeometry" serializeAs="String">
        <value />
      </setting>
      <setting name="SpiltContainer1Distance" serializeAs="String">
        <value>200</value>
      </setting>
      <setting name="SpiltContainer2Distance" serializeAs="String">
        <value>326</value>
      </setting>
      <setting name="SpiltContainer3Distance" serializeAs="String">
        <value>187</value>
      </setting>
      <setting name="MainFormLocation" serializeAs="String">
        <value>0, 0</value>
      </setting>
      <setting name="NodeWidth" serializeAs="String">
        <value>45</value>
      </setting>
      <setting name="nameWidth" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="levelWidth" serializeAs="String">
        <value>60</value>
      </setting>
      <setting name="levelmeterWidth" serializeAs="String">
        <value>40</value>
      </setting>
      <setting name="modeWidth" serializeAs="String">
        <value>80</value>
      </setting>
      <setting name="fanmodeWidth" serializeAs="String">
        <value>80</value>
      </setting>
      <setting name="SetPointColWidth" serializeAs="String">
        <value>140</value>
      </setting>
      <setting name="currStateWidth" serializeAs="String">
        <value>80</value>
      </setting>
      <setting name="GroupColWidth" serializeAs="String">
        <value>110</value>
      </setting>
      <setting name="ColNameWidth" serializeAs="String">
        <value>200</value>
      </setting>
      <setting name="ColActionwidth" serializeAs="String">
        <value>250</value>
      </setting>
      <setting name="taskWidth" serializeAs="String">
        <value>185</value>
      </setting>
      <setting name="enabledWidth" serializeAs="String">
        <value>52</value>
      </setting>
      <setting name="freqWidth" serializeAs="String">
        <value>120</value>
      </setting>
      <setting name="datetimeWidth" serializeAs="String">
        <value>170</value>
      </setting>
      <setting name="UrgencyWidth" serializeAs="String">
        <value>80</value>
      </setting>
      <setting name="interfaceWidth" serializeAs="String">
        <value>150</value>
      </setting>
      <setting name="descWidth" serializeAs="String">
        <value>505</value>
      </setting>
    </zVirtualScenesApplication.Properties.Settings>
    </userSettings>  
</configuration>
