<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="zvsEntities2" connectionString="metadata=res://*/Entity.zvsModel.csdl|res://*/Entity.zvsModel.ssdl|res://*/Entity.zvsModel.msl;provider=System.Data.SQLite;provider connection string='data source=&quot;P:\2 - Hobby\zvs\Google Code\trunk\zVirtualScenesAPI\zvs.db&quot;'" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>