<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="zvirtualscenesEntities" connectionString="metadata=res://*/API.Scenes.csdl|res://*/API.Scenes.ssdl|res://*/API.Scenes.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=localhost;User Id=root;Persist Security Info=True;database=zvirtualscenes&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>